*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{

}

section{
  height: 70vh;
  border: 1px solid blue;
  padding: 0 50px;
  background-color: brown;
}

.head{
  padding: 20px 50px;
  background-color: cornflowerblue;
}

.alto{
  display: flex;
  justify-content: space-between;
  
  
}

.imgdiscord{
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 25px;
  width: 100px;
  height: 100px;
  background-color: brown;
  border: 1px solid black;
  flex-basis: 25%;
}

nav{
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 25px;
  width: 100px;
  height: 100px;
  background-color: brown;
  border: 1px solid black;
  flex-basis: 50%;
}

nav ul{
  list-style: none;
  display: flex;
  flex-direction: row;
}

nav ul li{
  padding: 10px; 
}

nav ul li:hover{
  padding: 20px;
  text-decoration: underline;
}

.accedi{
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 25px;
  width: 100px;
  height: 100px;
  background-color: brown;
  border: 1px solid black;
  flex-basis: 25%;
}





