*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.head span{
  font-size: 200px;
  position: absolute;
  display: inline-block;
  color: beige;
  top: 340px;
  left: 550px;
  transform: translate(-50%, -50%);
}

.info div{
  margin-top: 50px;
  height: 200px;
  width: 300px;
  background-color: red;
}

h1{
  display: flex;
  justify-content: center;
  font-size: 3em;
  font-weight: 800;
}

h2{
  display: flex;
  justify-content: center;
  font-size: 3em;
  font-weight: 800;
}

h3{
  padding-top: 80px;
  display: flex;
  justify-content: center;
  font-size: 2em;
  font-weight: 800;
  position: relative;
}

header section{
  height: 70vh;
  border: 1px solid blue;
  padding: 0 50px;
  background-color: brown;
}

main div{
  height: 70vh;
  border: 1px solid blue;
  padding: 0 50px;
  background-color: brown;
}

.head{
  position: relative;
  padding: 20px 50px;
  background-color: cornflowerblue;
}

.alto{
  display: flex;
  justify-content: space-between; 
}

.imgdiscord{
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 25px;
  width: 100px;
  height: 100px;
  background-color: brown;
  border: 1px solid black;
  flex-basis: 25%;
}

nav{
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 25px;
  width: 100px;
  height: 100px;
  background-color: brown;
  border: 1px solid black;
  flex-basis: 50%;
}

nav ul{
  list-style: none;
  display: flex;
  flex-direction: row;
}

nav ul li{
  padding: 10px; 
}

nav ul li:hover{
  padding: 20px;
  text-decoration: underline;
}

.accedi{
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 25px;
  width: 100px;
  height: 100px;
  background-color: brown;
  border: 1px solid black;
  flex-basis: 25%;
}

header p{
  margin: 20px;
  text-align: center;
  font-size: 1rem;
}

.call p{
  margin: 20px;
  text-align: center;
  font-size: 1rem;
}

.c{
  margin-top: 50px;
  padding: 20px;
  position: absolute;
  left: 40%;
}

.c1{
  margin-top: 50px;
  padding: 20px;
  position: absolute;
  left: 55%;
}

.f{margin-top: 20px;
    position: absolute;
    font-size: 1em;
    font-weight: 600;
    left: 50%;
    transform: translate(-50%);
}

.server,
.canali,
.community{
  display: flex;
  gap: 20px; 
}

.call{
  height: 140vh;
  padding-top: 100px;
}

.call div{
  background-color: aqua;
  height: 600px;
  margin-top: 150px;
}

.info{
  height: 70vh;
  border: 1px solid blue;
  padding: 0 50px;
  background-color: darkgray;
}

div section{
  height: 100%;
  width: 60%;
  background-color: azure;
  border: 2px solid goldenrod; 
}

div aside{
  height: 100%;
  width: 30%;
  background-color: chocolate;
  border: 2px solid lightgreen;
}

.info ul{
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.info ul li{
  padding: 5px;
}






